section.description
   h2.title Work experience
   ul.list 
      li 
         p.list__title Front-end developer
         p.list__subtitle Tambourine
         p.list__subtitle June 2022 - now
         p.list__text I’m part of a SCRUM team to develop hotel pages, these are based on good practices to bring the best experience to the user. 
      li 
         p.list__title Front-end developer
         p.list__subtitle Stp-Networks
         p.list__subtitle October 2021 - June 2022
         p.list__text I implemented some technology solutions for customers. I worked with agile methodologies into an interdisciplinary team for web products. 
      li 
         p.list__title Front-end developer
         p.list__subtitle ProBio Ingeniería
         p.list__subtitle Agosto 2020 - October 2021
         p.list__text I worked creating UI for many web medical projects.
      li 
         p.list__title Biomedical engineer
         p.list__subtitle Instituto Roosevelt
         p.list__subtitle 2019-2020
         p.list__text I worked in mantainment and training of biomedical equipment, planning and formulation of objectives and indicators.
         p.list__text I investigated solution projects with my work team.   
   p.description__text I am a biomedical engineer very passionate about technology, robots and programming. 
   p.description__text Mainly focused in human-machine interactions, my experience goes from the software and hardware of an incubator to web applications for medical and hotel clients.

   .description__log
      span.description__code #{'<>'} 
      span.description__emoji 💻💗🧬
      span.description__code #{'</>'} 