section.description
   h2.title Experiencia
   ul.list 
      li 
         p.list__title Desarrollador front-end
         p.list__subtitle ProBio Ingeniería
         p.list__subtitle Agosto 2020-ahora
         p.list__text Enfocado en maquetación de interfaces gráficas, trabajo con metodologías ágiles dentro de un equipo interdisciplinario para productos web.
      li 
         p.list__title Ingeniero biomédico
         p.list__subtitle Instituto Roosevelt
         p.list__subtitle 2019-2020
         p.list__text Trabajé en mantenimiento y capacitación de equipos biomédicos, planeación y formulación de indicadores y objetivos.
         p.list__text Desarrollé proyectos investigativos con mi equipo de trabajo.   
   h2.title Yo
   p.description__text Soy ingeniero biomédico apasionado por la tecnología, los robots y la programación.  Mis intereses y experiencia en interacción humano-máquina van desde una incubadora hasta una aplicación web de citas médicas.
   p.description__text Durante la pandemia me dí cuenta de que el futuro de la tecnología está en el internet y decidí orientar mi vida profesional al desarrollo de software. He tenido la oportunidad de trabajar en tres proyectos como desarrollador front-end disfrutando y entregando mi mayor esfuerzo.

   .description__log
      span.description__code #{'<>'} 
      span.description__emoji 💻💗🧬
      span.description__code #{'</>'} 