footer.footer
 .footer__icons 
  a.footer__icons-size(href="https://github.com/Oscarlarrotta07")
   span.icon-github-square 
  a.footer__icons-size(href="https://linkedin.com/in/oscar-larrotta-webdev07")
   span.icon-linkedin-square
  a.footer__icons-size(href="https://api.whatsapp.com/send?phone=+573015500513")
   span.icon-whatsapp