section.skills  
  h2.title Habilidades
  ul.list.skills__list
    li HTML
      ul
        li HTML semántico
        li Template engines: pug
        li SEO
    li CSS 
      ul
        li SASS, mixins, functions
        li BEM
        li Flexbox, grid
    li JS 
      ul
        li scripting básico
        li Mucho por aprender por ahora 😎
    li Varios 
      ul
        li Versionamiento git
        li Metología SCRUM