section.skills  
  h2.title Skills
  ul.list.skills__list
    li HTML
      ul
        li Semantic
        li Template engines (PUG, twig)
        li SEO
        li Accessibility
    li CSS 
      ul
        li SASS, mixins, functions
        li BEM
        li Flexbox, grid
    li JS 
      ul
        li DOM manipulation
        li OOP
        li JQuery
        li ECMAScript 6
        li Async API (Fetch)
    li Angular
      ul 
        li Typescript
        li Reactive forms
        li Angular CLI
    li Anything else 
      ul
        li GIT (gitLab, gitHub, bitbucket)
        li SCRUM methodology
        li PHP
