section.description
 h2.title Experiencia
  ul.list
   li 2019-2020
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt tempore dignissimos facilis. Quam, nemo eius? Beatae unde animi consequuntur excepturi quaerat quos iusto illum, error molestias harum illo repellendus! Impedit.
 h2.title Yo
 p.description__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, quaerat perferendis. Reprehenderit quas distinctio sunt ut ad magnam praesentium tempora eos porro dolorum, iste quaerat minima, obcaecati expedita debitis recusandae.
 p.description__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, quaerat perferendis. Reprehenderit quas distinctio sunt ut ad magnam praesentium tempora eos porro dolorum, iste quaerat minima, obcaecati expedita debitis recusandae.
 p.description__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, quaerat perferendis. Reprehenderit quas distinctio sunt ut ad magnam praesentium tempora eos porro dolorum, iste quaerat minima, obcaecati expedita debitis recusandae.
 