footer.footer
 .footer__icons 
  a.footer__icons-size(href="")
   span.icon-github-square 
  a.footer__icons-size(href="")
   span.icon-linkedin-square
  a.footer__icons-size(href="")
   span.icon-whatsapp