- var projects = ['odontocitas','cmc','romecar'];

section.projects
  h2.title Projectos
  .projects__elements  
  each project in projects 
    a.projects__element(href="https://github.com/Oscarlarrotta07")  
      img(src="/images/" + project + ".jpg", alt= "project " + project)
      span.projects__subtitle #{project}