.description {
  padding: size(2);

  &__text {
    color: $gray;
    @include font-family(rob);
    @include font-size();
  }

  &__code {
    color: #90dfaa;
    font-family: "Electrolize", sans-serif;
    font-size: size(6);
  }
  &__log {
    display: flex;
    justify-content: space-evenly;
  }
  &__emoji {
    font-size: size(6);
  }

  @media ($mediaMedium) {
    padding: size(3);

    &__text {
      font-size: size(3);
    }

    &__code {
      padding: size(2);
      font-size: size(10);
    }
    &__log {
      display: flex;
      justify-content: space-evenly;
    }
    &__emoji {
      padding: size(2);
      font-size: size(8);
    }
  }
}
