.header {
  padding: size(4);

  &__logo {
    width: 200px;
    margin: 0 auto;
  }

  @media ($mediaMedium) {
    height: 60px;
    background: $green-dark;
    padding: size();
    display: flex;
    margin: 0;
    justify-content: flex-end;

    &__logo {
      width: size(14);
      margin: size(0);
      position: relative;
      top: 10px;
    }
    &__txname {
      font-size: size(2);
    }
  }
}
