$green-light: #90dfaa;
$main-color: #d8d8d8;
$dark: #1f1f1f;
$gray: #e6e6e6;
$gray-dark: #717171;
$blue-dark: #30485c;
$blue-light: #54c2ed;
$green-dark: #2b9984;

$eye-border: -10%;
$robot-width: 50px;

$mediaMedium: "min-width: 768px";
